<app-header titulo="Perfil"></app-header>
<ion-content [fullscreen]="true" class="background">
  <div class="perfil-container ion-text-center">
    <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
    <!-- Muestra el nombre y el correo del usuario -->
    <h2 class="username">{{ userStats?.displayName || 'Usuario' }}</h2>
    <p class="user-email">{{ userData?.email || 'Correo no disponible' }}</p>

    <!-- Botón para actualizar el nombre -->
    <ion-button color="primary" (click)="editarNombre()">
      Editar Nombre
    </ion-button>

    <!-- Botón para cerrar sesión -->
    <ion-button color="danger" (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
