ion-content.background {
    --background: url(../../../assets/img/background.jpg) 0 0/100% 100% no-repeat;
}


.perfil-container {
    margin-top: 40px;
}

.profile-icon {
    font-size: 120px;
    color: #f2f2f2;
}

.username {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #f2f2f2;
}

.user-email {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.custom-dark-alert {
  --background: #121212; /* Fondo oscuro */
  --ion-text-color: #ffffff; /* Texto blanco */
  --ion-color-primary: #bb86fc; /* Color principal */
  --ion-color-secondary: #03dac6; /* Color secundario */

  ion-alert-title {
    color: var(--ion-text-color);
  }

  ion-alert-message {
    color: var(--ion-text-color);
  }

  ion-button {
    color: var(--ion-text-color);
  }
}
