<!--HTML para mostrar los mejores puntajes de usuario.-->
<app-header titulo="Puntajes"></app-header>
<ion-content [fullscreen]="true" class="gradient background">
  <div class="ion-text-center puntaje-container">
    <ion-icon name="ribbon-outline" class="puntaje-icon"></ion-icon>
    <h1 class="titulo">Mis Puntajes</h1>
    <ion-grid>
      <ion-row class="encabezado">
        <ion-col>TABLA DE PUNTUACIONES</ion-col>
      </ion-row>
      <ion-row class="subtitulo">
        <ion-col>Nivel</ion-col>
        <ion-col>Puntaje</ion-col>
        <ion-col>Tiempo</ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col>1</ion-col>
        <ion-col>{{ userStats?.lvl_1_best_score || 'Sin Partidas' }}</ion-col>
        <ion-col>{{ userStats?.lvl_1_best_time || 'Sin Partidas' }}</ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>2</ion-col>
        <ion-col>{{ userStats?.lvl_2_best_score || 'Sin Partidas' }}</ion-col>
        <ion-col>{{ userStats?.lvl_2_best_time || 'Sin Partidas' }}</ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>3</ion-col>
        <ion-col>{{ userStats?.lvl_3_best_score || 'Sin Partidas' }}</ion-col>
        <ion-col>{{ userStats?.lvl_3_best_time || 'Sin Partidas' }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>